<div class="post-card-data">
    <div class="card">
        <div class="wid">
            <img src="{{postData.data.ImagePath}}" alt="Image Not Found" class="card-img-top ">
        </div>
        <div class="card-body">
            <small class="bg-light text-danger text-center">{{postData.data.category.category}}</small>
            <small class="bg-light text-success text-center move ">Features</small>
            <small class="bg-light text-info text-center move">Views - {{postData.data.views}}</small>
            <h5 class="mt-1 title" >{{postData.data.title}}</h5>
            <p class="text">{{postData.data.excerpt}}</p>
            <small class="bg-light text-success text-center ml-3">Last Update -
                {{postData.data.createdAt.toMillis() | date}}</small>
        </div>
    </div>
</div>   