<div class="card">
    <img src="../../../assets/random image.jpg" alt="Image Not Found" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center">Feature</small>
        <small class="bg-light text-info mr-2 text-center ">Views - 10</small>
        <h5 class="mt-1">Lorem ipsum dolor sit amet.</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex omnis minima aut laborum laudantium iste alias reiciendis rem soluta id incidunt repellendus quaerat est, hic magni dolore nisi? Mollitia, perspiciatis.</p>
        <small class="bg-light text-warning text-center ml-3">Last Update - SEP 20, 2021</small>
    </div>
</div>