<!-- <div class="card box-shadow">
    <img src="../../../assets/random image.jpg" alt="Image Not Found" class="card-img-top">
    <div class="card-body">
        <small class=" bg-light text-danger text-center  ">Design</small>
        <small class="bg-light text-success text-center  mar">Feature</small>
        <small class="bg-light text-info text-center  mar">Views - 10</small>
        <h5 class="mt-1">Lorem ipsum dolor sit amet.</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex omnis minima aut laborum laudantium iste
            alias
            reiciendis rem soluta id incidunt repellendus quaerat est, hic magni dolore nisi? Mollitia,
            perspiciatis.
        </p>
        <small class="bg-light text-warning text-center ml-3">Last Update - SEP 20, 2021</small>
    </div>
</div> -->

<div class="card box-shadow">
    <div>
        <img src="../../../assets/random image.jpg" alt="Image Not Found" class="card-img-top">
    </div>
    <hr>
    <div>
        <small class="bg-light text-danger">Design</small>
        <small class="bg-light text-success ml-3">Features</small>
        <small class="bg-light text-info ml-3">Views - 10k</small>
        <h5 class="mt-1">Lorem, ipsum dolor sit amet consectetur </h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam veritatis quisquam dignissimos culpa, soluta
            fugiat illum ipsum hic excepturi expedita facilis ducimus nulla molestiae mollitia repellendus reprehenderit
            consequuntur in ipsa adipisci voluptatum amet nihil sapiente saepe cumque? Fugit, eligendi consequatur?</p>
    <small class="bg-light text-success ml-3">Last Update - July 23, 2023</small>
        </div>
</div>