<div class="contianer">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mt-2">
            <div class="card box-shadow text-center ">
                <div class="card-body text-center">
                    <h1>All Posts</h1>
                    <p>Manage all you posts</p>
                    <button class="btn btn-success mb-2 mt-5" routerLink="/post/new">Add New Post</button>
                    <button class="btn btn-warning mb-2 mt-5" routerLink="/superadmin-dashboard">Back to
                        Dashboard</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table class="mt-4 table row-border  hover">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Post Image</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Publiced on.</th>
                            <th>excerpt</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of PostDetails; index as i ">
                            <td width='10'>{{i+1}}</td>
                            <td width='100'> <img src="{{item.ImagePath}}" alt="Image Not Found"> </td>
                            <td>{{item.title}}</td>
                            <td>{{item.category.category}}</td>
                            <td>{{item.createdAt.toMillis() | date}}</td>
                            <td>{{item.excerpt}}</td>
                            <td>
                               <span (click)="editBlog()"><i class="fas fa-edit"></i></span>
                               <span (click)="deleteBlog(item.category.categoryId)"><i class="fas fa-trash"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

</div>