<div class="contianer">
    <div class="row">
        <div class="col-md-12 ">
            <div class="card box-shadow text-center ">
                <div class="card-body text-center">
                    <h1>All Posts</h1>
                    <p>Manage all you posts</p>
                    <button class="btn btn-success">Add New Post</button>
                    <button class="btn btn-warning">Back to Dashboard</button>
                </div>
            </div>
        </div>
    </div>
</div>