<div class="card box-shadow">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit nesciunt, repellat labore illum nisi consequuntur dolores non odio sit nam?
            </p>
            <form action="" class="form-inline form mb-5 mt-5">
                <div class="d-flex align-items-center">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control box-shadow" placeholder="Enter Your Name">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="email" class="form-control box-shadow" placeholder="Enter Your Email">
                    </div>
                    <div class="form-group col-md-2 ">
                        <button class="btn btn-info btn-block btn-sub form-control">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>