.card {
    background: var(--secondary-color);
    /* width: 1100px; */
}

.form-group {
    margin-left: 20px;
}



.text {
    width: 600px;
}


.subs-text {
    width: 600px;
}

input[type=text],
input[type=email] {
    width: 100%;
}