.card {
    background: var(--secondary-color);
    /* width: 1100px; */
}

.form-group {
    margin-left: 20px;
}

.btn {
    height: 50px;
    width: 100px;
    border: none;
    background-color: var(--footer-navbar-color);
    color: var(--secondary-color);
    box-shadow: 0px 0px 30px -10px rgb(117, 115, 115);
}

.text {
    width: 600px;
}

input[type=text],
input[type=email] {
    height: 50px;
    width: 100%;
    padding-left: 10px;
}
.subs-text{
    width: 600px;
}