<div class="container test-contianer card box-shadow">
    <div class="test">
        <h1 class="text-center mb-3">Terms & Conditions</h1>
        <!-- <div class="container testcontianer card mb-3"> -->
        Yes, AngularFire can be used to create a project without a traditional backend server. Firebase, the
        f you want to build a project without a traditional backend server and prefer a serverless approach,
        AngularFire in combination with Firebase can be a great choice. However, if your project requires extensive
        server-side logic or specific backend functionalities that Firebase doesn't provide out-of-the-box, you
        might need to consider a different backend solution.i libero explicabo porro placeat et sit! Quasi?
        <!-- </div> -->
        <div class="text-center">
            <button class="btn btn-success btn-sm mt-4 mb-4">Return To Home</button>
        </div>
    </div>
</div>