<div class="card container box-shadow">
    <div class="card-body">
        <h3>Comments(10)</h3>
        <div class="comments">
            <h5>Oggy</h5>
            <small class="bg-light text-success ">Last Updated - 24 July, 2023</small>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, officia. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Reprehenderit dignissimos ab error sapiente optio vero, dolorum
                exercitationem. Molestias, voluptates inventore! Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In
                velit corrupti dignissimos aliquam? Tenetur sit quam vitae, doloremque blanditiis quis ratione, unde
                voluptas iste doloribus aliquid exercitationem recusandae dicta illo?</p>
                <hr>
            <a href="" class="mt-1">Reply</a>
            <a href="" class="mt-1 ml-3 reply">View Reply</a>
        </div>
        <div class="comments">
            <h5>Tom</h5>
            <small class="bg-light text-success ">Last Updated - 24 July, 2023</small>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, officia. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Reprehenderit dignissimos ab error sapiente optio vero, dolorum
                exercitationem. Molestias, voluptates inventore! Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In
                velit corrupti dignissimos aliquam? Tenetur sit quam vitae, doloremque blanditiis quis ratione, unde
                voluptas iste doloribus aliquid exercitationem recusandae dicta illo?</p>
                <hr>
            <a href="" class="mt-1">Reply</a>
            <a href="" class="mt-1 ml-3 reply">View Reply</a>
        </div>
        <div class="comments">
            <h5>Jerry</h5>
            <small class="bg-light text-success ">Last Updated - 24 July, 2023</small>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, officia. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Reprehenderit dignissimos ab error sapiente optio vero, dolorum
                exercitationem. Molestias, voluptates inventore! Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In
                velit corrupti dignissimos aliquam? Tenetur sit quam vitae, doloremque blanditiis quis ratione, unde
                voluptas iste doloribus aliquid exercitationem recusandae dicta illo?</p>
                <hr>
            <a href="" class="mt-1">Reply</a>
            <a href="" class="mt-1 ml-3 reply">View Reply</a>
        </div>
    </div>
</div>

