<div class="container ">
    <div class="row">
        <div class="col-md-12 mt-5 card">
            <h4 class="text-center mt-5">New Categories</h4>
            <p class="text-center">Add New Category</p>
            <div class="container mt-4">
                <form class="row mb-5" #addcatagory="ngForm" (ngSubmit)="Onsubmit(addcatagory.value)">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input 
                            required type="text" 
                            ngModel 
                            name="NameOfCategory" 
                            class="form-control box-shadow mb-2"
                            placeholder="Add New Category"
                            #category = "ngModel"
                            required
                            [ngClass]="{ 'is-invalid' : category.invalid && category.touched  }"
                            >
                            <div class="alert alert-danger" *ngIf="category.invalid && category.touched">Fill the form</div>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <button [ngClass]="{ 'disabled' :category.invalid  }"  type="submit" class="btn btn-info btn-block  box-shadow">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  