<div>
    <div class="single-page-contianer mb-3">
        <div class="container ">
            <h1>Single Catagory Page </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, recusandae.</p>
        </div>
    </div>
    <div class="row single-page-card-details">
        <div class="col-sm-4"><app-post-card></app-post-card></div>
        <div class="col-sm-4"><app-post-card></app-post-card></div>
        <div class="col-sm-4"><app-post-card></app-post-card></div>
        <div class="col-sm-4"><app-post-card></app-post-card></div>
        <div class="col-sm-4"><app-post-card></app-post-card></div>

    </div>
</div>