.test-contianer {
    margin-top: 200px;
    margin-bottom: 10px;
    background-color: var(--navbar-footer-primary-color);
    color: var(--text-color-secondary);
    min-height: 60vh;
    padding: 40px;

}

/* .testcontianer {
    color: var(--text-color-primary);
    background-color: var(--primary-background-color);
    min-height: 35vh;
} */
.btn{
    width: 100%;
}