<div class="card mt-5 box-shadow">
    <div class="card-body">
        <h3>Leave a Comment</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, totam!</p>
        <form>
            <div class="form-group mb-3">
                <label for="">
                    <b >Name</b>
                </label>
                <input type="text" class="form-control" placeholder="Enter Your name ">
            </div>
            <div class="form-group">
                <label for=""><b >Comment</b></label>
                <textarea type="text" cols="20" rows="10" class="form-control" placeholder="Comment here"></textarea>
            </div>
            <button class="btn btn-success mt-3">Comment</button>
        </form>
    </div>
</div>