.row{
    padding: 10px;
    margin: 30px;
}
.card{
    padding: 10px;
    margin: 10px; 
    min-height: 300px;
}
.bg-clr{
    background-color: var(--secondary-color);
}
.btn{
    width: 50%;
}
i{
    cursor: pointer;
}