<div class="contianer">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center card justify-content-center mt-4 mb-3">
            <h3 class="mt-3 ">{{status}} Post</h3>
            <p class="mb-4">You can {{status}} post here</p>
        </div>
    </div>
    <form action="" class="justify-content-center" [formGroup]="postForm" (ngSubmit)="sumbitNewPost()">
        <div class="row ">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="card box-shadow">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Title</label>
                            <!-- <input 
                            formControlName="title" 
                            type="text" 
                            class="form-control"
                            (keyup)="onKeyUp($event)
                            [ngClass]="{'is-invalid': postForm.get}"> -->

                            <input type="text" formControlName="title" class="form-control" (keyup)="onKeyUp($event)"
                                [ngClass]="{'is-invalid':postForm.get('title')?.touched && postForm.get('title')?.invalid}">
                            <div *ngIf="postForm?.get('title')?.errors?.['required']">
                                <div *ngIf="postForm?.get('title')?.invalid && postForm?.get('title')?.touched"
                                    class="form-control alert alert-danger">Title is Required</div>
                            </div>
                            <div *ngIf="postForm?.get('title')?.errors?.['minlength']">
                                <div *ngIf="postForm?.get('title')?.invalid && postForm?.get('title')?.touched"
                                    class="form-control alert alert-danger">Title must be at least 10 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">PermLink</label>
                            <input formControlName="permlink" [(ngModel)]='permlnik' name="permlink" type="text"
                                class="form-control"
                                [ngClass]="{'is-invalid':postForm.get('permlink')?.touched && postForm.get('permlink')?.invalid}">
                            <div *ngIf="postForm.get('permlink')?.touched && postForm.get('permlink')?.invalid"
                                class="alert alert-danger">PermLink Cannot Be Empity</div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="">Excerpt</label>
                            <textarea formControlName="excerpt" class="form-control" name="" id="" cols="30"
                                [ngClass]="{'is-invalid':postForm.get('excerpt')?.touched && postForm.get('excerpt')?.invalid}"
                                rows="10"></textarea>

                            <div *ngIf="postForm.get('excerpt')?.errors?.['required']">
                                <div *ngIf="postForm.get('excerpt')?.touched && postForm.get('excerpt')?.invalid"
                                    class="form-control alert alert-danger">Excerpt is Required</div>
                            </div>

                            <div *ngIf="postForm.get('excerpt')?.errors?.['minlength']">
                                <div *ngIf="postForm.get('excerpt')?.touched && postForm.get('excerpt')?.invalid"
                                    class="form-control alert alert-danger">
                                    Excerpt must be more then 50 characters</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label>Categories</label>
                    <select class="form-control" formControlName="categorySelector"
                        [ngClass]="{'is-invalid':postForm.get('categorySelector')?.touched && postForm.get('categorySelector')?.invalid}">
                        <option disabled [defaultSelected]="true">
                            Please Choose Category
                        </option>
                        <option *ngFor="let item of category" value="{{item.id}}-{{item.data.category}}">
                            {{item.data.category}}</option>
                    </select>
                    <div *ngIf="postForm.get('categorySelector')?.errors">
                        <div *ngIf="postForm.get('categorySelector')?.touched && postForm.get('categorySelector')?.invalid"
                            class="alert alert-danger">
                            Please choose one character
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Post Image</label>
                    <img [src]="uploadedimage" alt="" class="form-control img-fluid img-preview">
                    <input formControlName="image" type="file" class="form-control"
                        accept="image/jpg, image/jpeg, image/png" (change)="showPreview($event)"
                        [ngClass]="{'is-invalid':postForm.get('image')?.touched && postForm.get('image')?.invalid}">
                    <div *ngIf="postForm.get('image')?.invalid">
                        <div *ngIf="postForm.get('image')?.touched && postForm.get('image')?.invalid"
                            class="alert alert-danger">Please Choose one image for you post</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-1"></div>
            <div class="col-md-10 card box-shadow">
                <div class=" card-body form-group mb-4">
                    <label for="">Content</label>
                    <!-- <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea> -->
                    <angular-editor formControlName="content" class="form-control"></angular-editor>
                    <div *ngIf="postForm.get('content')?.errors?.['minlength']">
                        <div *ngIf="postForm.get('content')?.touched && postForm.get('content')?.invalid"
                            class="alert alert-danger">
                            Your content must be more then 100 characters
                        </div>
                    </div>
                    <div *ngIf="postForm.get('content')?.errors?.['required']">
                        <div class="alert alert-danger"
                            *ngIf="postForm.get('content')?.touched && postForm.get('content')?.invalid">
                            Please Write you content here
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center mt-3">
            <button [disabled]="postForm.invalid" class="btn btn-success">{{status}} Post</button>
            <button class="btn btn-warning" routerLink="/posts">Back to post</button>
        </div>
    </form>
</div>