<nav class="navbar navbar-expand-lg fixed-top">

    <div class="container" *ngIf="!isAdmin">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav" *ngFor="let item of categories">
                <li class="nav-item ml-3" [routerLink]="['/single-catagory',item.categoriesId]">
                    <a class="nav-link">{{item.categories.category}}</a>
                </li>
            </ul>
        </div>
        <span routerLink="/admin-auth/login"><i class="fas fa-user-circle"><i
                    style="margin-left: 5px;">Login</i></i></span>
    </div>
    <div class="container" *ngIf="isAdmin">
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <p class="">{{userEmail}}</p>
                <p class="test" (click)="logOut()">Logout</p>
            </ul>
        </div>
    </div>
</nav>