<section class="featured-section">
    <div class="contianer-fluid">
        <div class="col-md-12 text-center mt-5">
            <h2 class="text-color"> Featured Posts</h2>
            <p class="text-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia excepturi,
                doloribus deserunt quae laborum officiis totam neque perspiciatis reiciendis? Pariatur!</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-sm-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-sm-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-sm-4">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="contianer-fluid">
        <div class="col-md-12 text-center mt-5">
            <h1>Leatest Post</h1>
        </div>
    </div>
</section>
