<!-- <section class="featured-section">
    <div class="contianer-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-color"> Featured Posts</h2>
                <p class="text-color">Lorem ipsum dolor sit amet consectetur, adipisici</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>
<section class="continer mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, reprehenderit?</p>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</section> -->

<div>
    <div class="featured-section">
        <div class="continaer text-center">
            <h1>Featured Post</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, quasi.</p>
        </div>
        <div class="row">
            <div class="col-sm-3 items" *ngFor="let item of featuredPost">
                <app-post-card [featured]="item"></app-post-card>
            </div>
        </div>
    </div>
    <div class="popular-post">
        <div class="container text-center justify-content-center mb-3">
            <h1>Popular post</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam eaque necessitatibus totam facilis
                dignissimos nesciunt nostrum minus illo dolores ipsam?</p>
        </div>
        <div class="row">
            <div class="col-sm-4" *ngFor="let item of allPost"> <app-post-card [allPostData] = "item"></app-post-card></div>
        </div>
    </div>
</div>