<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card box-shadow">
                <img src="../../../assets/random image.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-info text-center">Design</small>
                    <small class="bg-light text-warning text-center marlef">Featured</small>
                    <small class="bg-light text-danger text-center marlef">Views - 20K</small>
                    <small class="bg-light text-success text-center marlef">LAST UPDATE - JULY 24, 2023</small>
                    <h1 class="mt-3 mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores recusandae, eos laboriosam
                        suscipit minima ab cupiditate explicabo magni consequuntur reiciendis sapiente rem. Suscipit
                        itaque maxime rem vero ipsum animi nostrum accusamus cum eos ut officia veniam, similique hic,
                        beatae quibusdam molestiae perspiciatis laudantium neque aliquam praesentium. Nemo et vel esse
                        nisi unde quia atque harum! Corporis quos officiis itaque fugiat, dolorum ad reiciendis aut
                        dignissimos natus quasi dolorem reprehenderit, facilis asperiores impedit, optio architecto
                        deleniti dolor modi animi. Eligendi, sequi fugiat consectetur quidem neque deleniti possimus cum
                        exercitationem ducimus quo aliquam veritatis. Iure vitae ad ex. Autem accusamus quis placeat?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis velit ipsa earum autem ullam
                        minus esse doloribus dicta nemo sapiente? Itaque voluptas soluta, velit veritatis amet debitis
                        harum libero vel accusamus hic dicta enim molestiae dignissimos rem, odio, quae tempora sunt
                        consequatur quo. Exercitationem enim odit a dolorem explicabo est non consequuntur error aliquid
                        ipsum ullam aliquam eius architecto nemo atque, distinctio assumenda natus voluptatem optio
                        eaque corporis vero praesentium dolor consectetur! Fugit, voluptatibus. Minus sit sed ab
                        aspernatur dicta cupiditate tempore, dolore perspiciatis reprehenderit laudantium corporis,
                        perferendis voluptates eligendi saepe voluptatum illo corrupti repudiandae nostrum deleniti
                        obcaecati iste blanditiis.</p>
                </div>
                <div class="mb-3">
                    <app-comment-form></app-comment-form>
                </div>
                <div class="mb-3 cls">
                    <app-comment-list></app-comment-list>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>